altgraph==0.17
asn1crypto==1.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
future==0.18.2
idna==2.9
lightspeed-api==0.1
macholib==1.14
modulegraph==0.18
packaging==20.1
pathlib==1.0.1
pefile==2019.4.18
pipdeptree==0.13.2
py-dateutil==2.2
pyAesCrypt==0.4.3
pycparser==2.19
PyInstaller==3.6
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
PyQtWebEngine==5.14.0
pytz==2019.3
PyYAML==5.4
requests==2.23.0
sip==5.1.1
six==1.14.0
toml==0.10.0
typing==3.7.4.1
urllib3==1.25.8
veracross-api==1.0
